DATABASE_NAME=your_db_name
DATABASE_USER=your_db_username
DATABASE_PASS=your_db_password

LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=OFF
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY_WEB_AUTHENTICATION_ANONYMOUSAUTHENTICATIONFILTER=OFF
SEVER_ERROR_INCLUDE_MESSAGE=never